---
import "../styles/projects.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/commons/hero/hero.astro";
import ProjectCard from "../components/project/projectCard.astro";
import Banner from "../components/commons/banners/banner.astro";
import { fetchGitHubProjects } from "../data/githubProjects.js";

const projects = await fetchGitHubProjects();
---

<Layout title="Projects" description="My public GitHub projects">
  <section class="projects-heading">
    <h1 class="projects-title">Projekte</h1>
  </section>

  <!-- 1 Card pro Reihe: flex-col -->
  <div
    id="projects-container"
    class="flex flex-col gap-5 px-3 pt-10 xl:px-32 2xl:px-60"
  >
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          image={project.image}
          technologies={project.technologies}
          code={project.code}
          isCollab={project.isCollab}
        />
      ))
    }
  </div>
</Layout>
